
{% extends "learning_logs/base.html" %}
{% block content %}
   
    <div class="ui  vertical  segment">
        <div class="ui container segment">
            <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
            <p>Add a new entry:</p>	
        </div>

        <div class="ui container segment">
            <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="submit" class="ui inverted blue button">add entry</button>
            </form>
        </div>
    </div>

{% endblock content %}
