
{% extends "learning_logs/base.html" %}

{% block header %}
	<div class='ui  vertical  segment'> 
		<div class="ui container segment">
			<h3 class="ui header">Add a new entry:</h3>
		</div>
	</div>
{% endblock header %}

{% block content %}
   
    <div class="ui  vertical  segment">
        <div class="ui container segment">
            <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>	
        </div>

        <div class="ui container segment">
            <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="submit" class="ui inverted blue button">add entry</button>
            </form>
        </div>
    </div>

{% endblock content %}
