
{% extends "learning_logs/base.html" %}

{% block header %}
	<div class="ui container segment">
        <h3 class="ui header">
        	{{ topic }}
        </h3>  
    </div>
{% endblock header %}

{% block content %}
   
    <div class="ui  vertical  segment">

        <div class="ui container segment">
			<a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
        </div>

        <div class="ui container segment">
            <h4 class="ui header">
            	Entries:
            </h4>
        </div>

		{% for entry in entries %}
			<div class="ui container segment">
				<a>{{ entry.date_added|date:'M d, Y H:i' }}</a> 
				
				<p>{{ entry.text|linebreaks }}</p>
				
				
				<a href="{% url 'learning_logs:edit_entry' entry.id %}">
					<i class="edit icon"></i>
					Edit Entry
				</a>

			</div>
		{% empty %}
			<div class="ui container segment">
				<p>There are no entries for this topic yet.</p>
			</div>
		{% endfor %} 
    </div>

{% endblock content %}


